Node-RED/Back-Up-Node-RED-Azure-11-03-19.txt
[
    {
        "id": "706ca10e.f5cc98",
        "type": "tab",
        "label": "MQTT BROKER",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ab1a06d.14c17",
        "type": "tab",
        "label": "Actuator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb2fcf73.2a1",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a080965f.3cb128",
        "type": "tab",
        "label": "Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd1e2b5f.02719",
        "type": "tab",
        "label": "DASH BOARD",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7137e510.60686c",
        "type": "tab",
        "label": "Chatbot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20428faf.058e88",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Impact,Impact,Charcoal,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Impact,Impact,Charcoal,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1fd84880.b34428",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "da5a0a37.17654",
        "type": "ui_group",
        "z": "",
        "name": "Parameter Update",
        "tab": "1fd84880.b34428",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7a8efcad.59f4c4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "da5a0a37.17654",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ce8cbd7.f8943c",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "1fd84880.b34428",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dded71a7.2df55",
        "type": "ui_group",
        "z": "",
        "name": "Database",
        "tab": "1fd84880.b34428",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce67ff73.4bc358",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7a5ab352.55bd64",
        "type": "ui_tab",
        "z": "",
        "name": "Control Center",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f1191689.6bca78",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7a5ab352.55bd64",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3ba3fe8a.a588f2",
        "type": "mongodb3",
        "z": "",
        "uri": "mongodb://localhost:27017",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "d31e6bb2.8ecab8",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://localhost:27017/smartirr",
        "name": "Collection SmartIrr",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "ed578d37.4572e",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "80af1e4f.ba507",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://localhost:27017/smartirr",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "9f9556d4.1c2cd",
        "type": "mosca in",
        "z": "706ca10e.f5cc98",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "cyangit",
        "password": "@Cyangit261996",
        "dburl": "mongodb://localhost:27017/mqtt",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "ad2f779.b7ad388"
            ]
        ]
    },
    {
        "id": "ad2f779.b7ad388",
        "type": "debug",
        "z": "706ca10e.f5cc98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "e6908de0.c963e",
        "type": "json",
        "z": "fd1e2b5f.02719",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "12084617.4e302a",
                "dfab1121.9b83",
                "27f5f19.9bde08e",
                "942d86dc.32d3f"
            ]
        ]
    },
    {
        "id": "12084617.4e302a",
        "type": "function",
        "z": "fd1e2b5f.02719",
        "name": "Temperature",
        "func": "msg.topic=\"Temperature(°C)\";\nvar temp = msg.payload.param.temp;\nglobal.set('temp',temp);\nmsg.payload = msg.payload.param.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "eb27b17a.c97638",
                "694cc5b2.1bcd74"
            ]
        ]
    },
    {
        "id": "dfab1121.9b83",
        "type": "function",
        "z": "fd1e2b5f.02719",
        "name": "Humidity",
        "func": "msg.topic=\"Humidity(%)\";\nvar hum = msg.payload.param.hum;\nglobal.set('hum',hum);\nmsg.payload = msg.payload.param.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "e65f5c22.b7b53",
                "cd1251bd.04c0c8"
            ]
        ]
    },
    {
        "id": "27f5f19.9bde08e",
        "type": "function",
        "z": "fd1e2b5f.02719",
        "name": "Light",
        "func": "msg.topic=\"Light(x10lux)\";\nvar light = msg.payload.param.light;\nglobal.set('light',light);\nmsg.payload = msg.payload.param.light;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "348e094c.8e9c56",
                "51ddf77e.e5a04"
            ]
        ]
    },
    {
        "id": "942d86dc.32d3f",
        "type": "function",
        "z": "fd1e2b5f.02719",
        "name": "Action",
        "func": "var act = msg.payload.param.act;\nvar str= [\"No\",\"Litter\",\"Many\"] ;\nglobal.set('act',act);\nmsg.payload =str[act];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "eb27b17a.c97638",
        "type": "ui_chart",
        "z": "fd1e2b5f.02719",
        "name": "",
        "group": "5ce8cbd7.f8943c",
        "order": 0,
        "width": "12",
        "height": "4",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff2900",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 500,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e65f5c22.b7b53",
        "type": "ui_chart",
        "z": "fd1e2b5f.02719",
        "name": "",
        "group": "5ce8cbd7.f8943c",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0f8ebe",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 490,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "348e094c.8e9c56",
        "type": "ui_chart",
        "z": "fd1e2b5f.02719",
        "name": "",
        "group": "5ce8cbd7.f8943c",
        "order": 2,
        "width": "12",
        "height": "4",
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#fffcba",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 510,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "694cc5b2.1bcd74",
        "type": "ui_text",
        "z": "fd1e2b5f.02719",
        "group": "da5a0a37.17654",
        "order": 1,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "cd1251bd.04c0c8",
        "type": "ui_text",
        "z": "fd1e2b5f.02719",
        "group": "da5a0a37.17654",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "51ddf77e.e5a04",
        "type": "ui_text",
        "z": "fd1e2b5f.02719",
        "group": "da5a0a37.17654",
        "order": 3,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Luminous Intensity",
        "format": "{{msg.payload}} lux",
        "layout": "row-spread",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "7aa1d578.bee81c",
        "type": "inject",
        "z": "706ca10e.f5cc98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "e653cb3f.556658"
            ]
        ]
    },
    {
        "id": "e653cb3f.556658",
        "type": "function",
        "z": "706ca10e.f5cc98",
        "name": "DATA FAKE",
        "func": "var temp = Math.round(Math.random() * (27 - 22) + 22);\nvar hum = Math.round(Math.random() * (90 - 45) + 45);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\n\nmsg.payload={\n    \"mac\":\"21:65:D9:E4:53:2D\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":0          \n        },\n    \"power\":12,\n    \"param\": \n        {\n            \"light\": light,\n            \"temp\":temp,\n            \"hum\":hum,\n            \"eva\":evap,\n            \"act\":i\n        },\n    \"extra\": null\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "dfc329ab.e05208"
            ]
        ]
    },
    {
        "id": "dfc329ab.e05208",
        "type": "mqtt out",
        "z": "706ca10e.f5cc98",
        "name": "",
        "topic": "/cyangit/fakedata",
        "qos": "2",
        "retain": "true",
        "broker": "ce67ff73.4bc358",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dc5221c.105914",
        "type": "mqtt in",
        "z": "fd1e2b5f.02719",
        "name": "",
        "topic": "/cyangit/fakedata",
        "qos": "2",
        "broker": "ce67ff73.4bc358",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "e6908de0.c963e"
            ]
        ]
    },
    {
        "id": "4e3755c3.28071c",
        "type": "comment",
        "z": "706ca10e.f5cc98",
        "name": "Data fake for testing",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "ea65923f.14c45",
        "type": "inject",
        "z": "a080965f.3cb128",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "3473149b.c6aabc"
            ]
        ]
    },
    {
        "id": "3473149b.c6aabc",
        "type": "mongodb2 in",
        "z": "a080965f.3cb128",
        "service": "_ext_",
        "configNode": "d31e6bb2.8ecab8",
        "name": "Insert-Device",
        "collection": "device",
        "operation": "insertOne",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "238f9822.494988"
            ]
        ]
    },
    {
        "id": "238f9822.494988",
        "type": "debug",
        "z": "a080965f.3cb128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "f48f209a.5bd9a",
        "type": "mongodb2 in",
        "z": "bb2fcf73.2a1",
        "service": "_ext_",
        "configNode": "80af1e4f.ba507",
        "name": "Get-Pre-Humidity",
        "collection": "data",
        "operation": "findOne",
        "x": 650,
        "y": 60,
        "wires": [
            [
                "86d0270d.5489c8"
            ]
        ]
    },
    {
        "id": "f432ab0b.27b008",
        "type": "function",
        "z": "bb2fcf73.2a1",
        "name": "Get-Cur-Hum",
        "func": "var mac_device = msg.payload.mac;\nglobal.set('curHum',msg.payload.param.hum);\nmsg.payload = [{\"mac\":mac_device},{sort:{'_id':-1}}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "f48f209a.5bd9a",
                "9d45b9df.b0d358"
            ]
        ]
    },
    {
        "id": "86d0270d.5489c8",
        "type": "function",
        "z": "bb2fcf73.2a1",
        "name": "",
        "func": "global.set('preHum',msg.payload.param.hum);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "9d45b9df.b0d358",
        "type": "mongodb2 in",
        "z": "bb2fcf73.2a1",
        "service": "_ext_",
        "configNode": "80af1e4f.ba507",
        "name": "Get-Info-Device",
        "collection": "device",
        "operation": "findOne",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "e3cd4bf0.cde448"
            ]
        ]
    },
    {
        "id": "e3cd4bf0.cde448",
        "type": "function",
        "z": "bb2fcf73.2a1",
        "name": "",
        "func": "global.set('idDevice',msg.payload._id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c5800ba0.99c838",
        "type": "mongodb2 in",
        "z": "bb2fcf73.2a1",
        "service": "_ext_",
        "configNode": "80af1e4f.ba507",
        "name": "Query-Collection-Device",
        "collection": "device",
        "operation": "aggregate.toArray",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "a30f80aa.c2d41"
            ]
        ]
    },
    {
        "id": "a30f80aa.c2d41",
        "type": "function",
        "z": "bb2fcf73.2a1",
        "name": "Update-Device-List",
        "func": "global.set('tableDevice',msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "dccc4d7.792c9b",
        "type": "comment",
        "z": "bb2fcf73.2a1",
        "name": "Query-Table-Device",
        "info": "",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "12d14179.11d37f",
        "type": "delay",
        "z": "bb2fcf73.2a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "c5800ba0.99c838"
            ]
        ]
    },
    {
        "id": "ea5ac5ea.a444c8",
        "type": "function",
        "z": "bb2fcf73.2a1",
        "name": "Add-Time",
        "func": "var date = new Date().toLocaleString('en-US',{timezone:'Asian/Jakatar'});\nvar datee = new Date();\n\nvar _date = { \"year\": datee.getFullYear(),\n            \"mouth\": datee.getMonth(),\n            \"day\":datee.getDate(),\n            \"hour\":datee.getHours(),\n            \"minute\":datee.getMinutes(),\n            \"second\":datee.getSeconds(),\n            \"showDate\":date\n}\n\nmsg.payload.date = _date;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 380,
        "wires": [
            [
                "efbf314e.b5caf"
            ]
        ]
    },
    {
        "id": "bcec8689.121038",
        "type": "function",
        "z": "bb2fcf73.2a1",
        "name": "Match-Mac-Device?",
        "func": "var match_mac = msg.payload.mac;\nvar query_device = global.get('tableDevice');\nvar check = false;\nfor (var i=0;i<query_device.length;i++)\n{\n    if (match_mac === query_device[i].mac)\n    check = true;\n}\n\nif(check===false) msg.payload = check; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "f7328ac5.0fe238"
            ]
        ]
    },
    {
        "id": "295dcd00.adec04",
        "type": "delay",
        "z": "bb2fcf73.2a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "bcec8689.121038"
            ]
        ]
    },
    {
        "id": "f7328ac5.0fe238",
        "type": "switch",
        "z": "bb2fcf73.2a1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 340,
        "wires": [
            [
                "e4270146.72378"
            ],
            [
                "ea5ac5ea.a444c8"
            ]
        ]
    },
    {
        "id": "bfdf5ac3.a10888",
        "type": "comment",
        "z": "bb2fcf73.2a1",
        "name": "Delay-for-Update-Device-Table",
        "info": "",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "efbf314e.b5caf",
        "type": "mongodb2 in",
        "z": "bb2fcf73.2a1",
        "service": "_ext_",
        "configNode": "80af1e4f.ba507",
        "name": "Insert-Data-into-Collections",
        "collection": "data",
        "operation": "insertOne",
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "37f072cf.e8721e"
            ]
        ]
    },
    {
        "id": "37f072cf.e8721e",
        "type": "debug",
        "z": "bb2fcf73.2a1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1350,
        "y": 380,
        "wires": []
    },
    {
        "id": "70fc7f51.f5a57",
        "type": "comment",
        "z": "bb2fcf73.2a1",
        "name": "Insert-Data",
        "info": "",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "e4270146.72378",
        "type": "debug",
        "z": "bb2fcf73.2a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1fc2561.85e598",
        "type": "mqtt in",
        "z": "706ca10e.f5cc98",
        "name": "",
        "topic": "/data/packet",
        "qos": "2",
        "broker": "ed578d37.4572e",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "7882ea16.1aae94"
            ]
        ]
    },
    {
        "id": "7882ea16.1aae94",
        "type": "json",
        "z": "706ca10e.f5cc98",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "c1904c4a.20cbc"
            ]
        ]
    },
    {
        "id": "3a75e3c6.dc0a3c",
        "type": "link out",
        "z": "706ca10e.f5cc98",
        "name": "[data/packet]",
        "links": [
            "1af864ab.cdd13b",
            "1174ec84.f8fd13"
        ],
        "x": 635,
        "y": 300,
        "wires": [],
        "inputLabels": [
            "[/data/packet]"
        ]
    },
    {
        "id": "1af864ab.cdd13b",
        "type": "link in",
        "z": "bb2fcf73.2a1",
        "name": "",
        "links": [
            "3a75e3c6.dc0a3c"
        ],
        "x": 195,
        "y": 40,
        "wires": [
            [
                "f432ab0b.27b008",
                "12d14179.11d37f",
                "295dcd00.adec04"
            ]
        ],
        "icon": "node-red-contrib-mqtt-broker/mosca.png"
    },
    {
        "id": "c1904c4a.20cbc",
        "type": "delay",
        "z": "706ca10e.f5cc98",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "3a75e3c6.dc0a3c"
            ]
        ]
    },
    {
        "id": "d9b533ca.78455",
        "type": "function",
        "z": "8ab1a06d.14c17",
        "name": "Run-Algorithms-VAN",
        "func": "var a = [0, 1, 2];\nvar water = [5, 10, 20];\nvar Vth = 3;\nvar L = -1;\nvar OK = 0;\nvar H = 1;\nvar penalty = 100;\n\n\nvar alpha = (water[2] - water[1])/(Vth*(a[2]- a[1]));\n\nvar preHum = global.get(\"preHum\");\nvar curHum = global.get(\"curHum\");\nvar v;\nvar th1 = 15;\nvar th2 = 60;\nfunction humid2State(humid)\n{\n    if(humid < th1) return L;\n    if(humid > th2) return H;\n    return OK;\n}\n\nfunction reward(curState, action, nextState)\n{\n    var p = 0;\n    if(nextState != OK) p = penalty;\n    var r = -alpha* curState * v * a[action] - water[action] - p;\n    return r;\n}\n\nfunction makeDecision(curHumid, preHumid)\n{\n    var maxReward = -2000;\n    var curState = humid2State(curHumid);\n    v = preHumid - curHumid;\n    var tmpReward = 0;\n    var nextHumid;\n    var nextState;\n    var action;\n    \n    for(var i = 0; i < 3; i++)\n    {\n        nextHumid = curHumid - v + water[i];\n        nextState = humid2State(nextHumid);\n        tmpReward = reward(curState, i , nextState);\n        if(tmpReward > maxReward)\n        {\n            maxReward = tmpReward;\n            action = i;\n        }\n    }\n    return a[action];\n}\n\nvar control = makeDecision(curHum, preHum);\nmsg.payload = control;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "89524dd7.79e3e"
            ]
        ]
    },
    {
        "id": "bb66d442.333908",
        "type": "delay",
        "z": "8ab1a06d.14c17",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "d9b533ca.78455"
            ]
        ]
    },
    {
        "id": "89524dd7.79e3e",
        "type": "function",
        "z": "8ab1a06d.14c17",
        "name": "Config-Command",
        "func": "var cmd = msg.payload;\n\n\nmsg.payload = cmd;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "94104c1c.ebe4e"
            ]
        ]
    },
    {
        "id": "137db643.7ef01a",
        "type": "mqtt out",
        "z": "8ab1a06d.14c17",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "true",
        "broker": "ed578d37.4572e",
        "x": 1120,
        "y": 60,
        "wires": []
    },
    {
        "id": "94104c1c.ebe4e",
        "type": "switch",
        "z": "8ab1a06d.14c17",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "137db643.7ef01a"
            ],
            [
                "3ddd8f76.228fe"
            ],
            [
                "b734e422.802f18"
            ]
        ]
    },
    {
        "id": "3ddd8f76.228fe",
        "type": "trigger",
        "z": "8ab1a06d.14c17",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "4",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "9bf28a64.e24938"
            ]
        ]
    },
    {
        "id": "9bf28a64.e24938",
        "type": "mqtt out",
        "z": "8ab1a06d.14c17",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "true",
        "broker": "ed578d37.4572e",
        "x": 1280,
        "y": 160,
        "wires": []
    },
    {
        "id": "b734e422.802f18",
        "type": "trigger",
        "z": "8ab1a06d.14c17",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "7",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "8ee48944.b6fe08"
            ]
        ]
    },
    {
        "id": "8ee48944.b6fe08",
        "type": "mqtt out",
        "z": "8ab1a06d.14c17",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "true",
        "broker": "ed578d37.4572e",
        "x": 1220,
        "y": 260,
        "wires": []
    },
    {
        "id": "1174ec84.f8fd13",
        "type": "link in",
        "z": "8ab1a06d.14c17",
        "name": "",
        "links": [
            "3a75e3c6.dc0a3c"
        ],
        "x": 195,
        "y": 40,
        "wires": [
            [
                "bb66d442.333908"
            ]
        ],
        "icon": "node-red-contrib-mqtt-broker/mosca.png"
    },
    {
        "id": "f5022b2.1d177d8",
        "type": "comment",
        "z": "8ab1a06d.14c17",
        "name": "NO",
        "info": "",
        "x": 1250,
        "y": 60,
        "wires": []
    },
    {
        "id": "e5ec5e5d.2d554",
        "type": "comment",
        "z": "8ab1a06d.14c17",
        "name": "Litter",
        "info": "",
        "x": 1430,
        "y": 160,
        "wires": []
    },
    {
        "id": "bebda1c5.aac83",
        "type": "comment",
        "z": "8ab1a06d.14c17",
        "name": "Many",
        "info": "",
        "x": 1370,
        "y": 260,
        "wires": []
    },
    {
        "id": "e1dff765.5fb528",
        "type": "comment",
        "z": "a080965f.3cb128",
        "name": "Instruction",
        "info": "1) Config a json-message \n2) Add it to node Inject with Payload type JSON (JSON editor)\n",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "7a594261.add7dc",
        "type": "mqtt in",
        "z": "706ca10e.f5cc98",
        "name": "",
        "topic": "/facebook/messenger/in",
        "qos": "2",
        "broker": "ce67ff73.4bc358",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "be40f0db.374d5"
            ]
        ]
    },
    {
        "id": "1b69f1eb.e3100e",
        "type": "debug",
        "z": "706ca10e.f5cc98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "be40f0db.374d5",
        "type": "json",
        "z": "706ca10e.f5cc98",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "1b69f1eb.e3100e"
            ]
        ]
    }
]